body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.activities-container{
  display: flex;
	justify-content: flex-start;
	border-color: black;
	margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
	background-color: black;
	border-radius: 10px;
	/* max-width: ; */
}
.activity-container{
  background-color: gray;
  border-style: solid;
	border-color: black;
  border: 4px;
  margin:10px
}
.activityImage{
  max-width:20rem;
}
.alert {
  color: red;
}

.alertbox {
  color: white;
  background-color: red;
}

/* rating modal stars css */
.ratingStars {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.ratingStars:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.ratingStars:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.ratingStars:not(:checked) > label:before {
    content: '★ ';
}
.ratingStars > input:checked ~ label {
    color: #ffc700;    
}
.ratingStars:not(:checked) > label:hover,
.ratingStars:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.ratingStars > input:checked + label:hover,
.ratingStars > input:checked + label:hover ~ label,
.ratingStars > input:checked ~ label:hover,
.ratingStars > input:checked ~ label:hover ~ label,
.ratingStars > label:hover ~ input:checked ~ label {
    color: #c59b08;
}