:root{
  --background: rgb(20, 20, 20);
  --lighter-background:rgb(48, 48, 48);
  --font-color:  rgb(230, 230, 230);
  --light-detail: rgb(172, 172, 172);
  --dark-detail: rgb(42, 42, 42);
  --nav-color: #6F2DBD;
  --rating05: #e59fe3;
  --rating04: #c874b2;
  --rating03: #7b337d;
  --rating02: #430d4b;
  --rating01: #210535;

}

#app>div{
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: var(--background);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

h1{
  color: var(--light-detail);
}

h2{
  color: var(--font-color);
}

h3{
  color: var(--font-color);
}

p{
  color: var(--light-detail);
}

label{
  color: var(--light-detail);
}

button{
  height:auto;
  border-radius:50px;
  background-color: var(--nav-color);
  font-size:16px;
  border:2px solid var(--dark-detail);
  padding:5px 20px 5px 20px;
  margin:20px;
}

/* repeated elements */
.clickable:hover{
opacity:80%;
cursor: pointer;
}

.clickable:active{
  opacity:50%;
  cursor: pointer;
}

#routes{
  display:flex;
  flex-direction:column;
  align-items: center;
  width:100%;
  /*margin-top:5%;*/
  border-top: 2px solid var(--light-detail);
  background-image: linear-gradient(var(--lighter-background),var(--background));
  /*margin-bottom:100px;*/
  height: 100%;
}

.component{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap:wrap;
}

.module{
  /* border: 3px solid var(--nav-color); */
  border-radius: 20px;
  width:80%;
  max-width:500px;
  padding:0 3% 10% 3%;
  margin:5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module>p{
  text-align: center;
  margin-top: 2px;
  margin-bottom:50px;
}

.module>h2{
  margin:10px;
}

.module>a{
  color:var(--rating04);
}

.module>a:visited{
  color:var(--rating03);
}

.util-component{
  height: 75%;
  width:100%;
}

.singleItem{
  background-image: linear-gradient(var(--lighter-background),var(--background));
  border-radius: 100px;
  width:100%;
  height: 20%;
  margin-bottom: 9px;
}

.singleItem>div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.singleItem-image{
  max-height: 83px;
  max-width: 150px;
  min-width: 75px;
  object-fit: cover;
  border-radius: 100px 0 0 100px;
  width: 20%;
  height: 100%;
}

.singleItem h3{
  margin-left:10px;
  margin-bottom:2px;
}
.singleItem p{
  margin-left:10px;
  margin-top:2px;
}

/* Rating */


.rating {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.ratingStars {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.ratingStars:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.ratingStars:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:var(--light-detail);
}
.ratingStars:not(:checked) > label:before {
    content: '★ ';
}
.ratingStars > input:checked ~ label {
    color: var(--rating03);
}
.ratingStars:not(:checked) > label:hover,
.ratingStars:not(:checked) > label:hover ~ label {
    color: var(--rating03);
}
.ratingStars > input:checked + label:hover,
.ratingStars > input:checked + label:hover ~ label,
.ratingStars > input:checked ~ label:hover,
.ratingStars > input:checked ~ label:hover ~ label,
.ratingStars > label:hover ~ input:checked ~ label {
    color: var(--rating03);
}

.Charts{display:flex; flex-direction:row;}
.Chart2{display:flex; margin-left:10%; margin-right: 10%; padding-left:30px }

/* all activities */
#allActivities>div{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
#allActivities .accordion{
  width:100%;
}

#allActivities .accordion-button{
  background-color: var(--light-detail);
  margin-bottom:20px;
}

/* #allActivities .accordion-button:not(.collapsed) {
  color:var(--light-detail)
} */

#allActivities .accordion-body{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

Button.purple{
  margin: 10px;
  background-color: var(--rating03);
  border: 2px solid var(--dark-detail)
}

Button.purple:hover{
  margin:15px;
  background-color: var(--rating02);
  border: 2px solid var(--dark-detail);
}

Button.purple:focus{
  background-color: var(--rating03);
  border-color: var(--dark-detail)
}

Button.purple>a{
  color:white;
  text-decoration: none;
}

form.search-activities {
  margin-bottom: 10px
}

input[type="search"] {
  border: none;
  background-color: inherit;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: white;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

input.search-activities {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}


@media (min-width: 700px){
  #home{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
  }

  #topFive-recommendations{
    width:40%;
  }

  #topFive-activities{
    width:40%;
  }

  .singleActivity-body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top:10%
  }

  .singleActivity-image{
    margin-left:10%;
    margin-top:0
  }

  .singleActivity-text{
    height:100%;
    width:100%;
    margin-right:10%;
    padding-left:30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
}
.messaging{
  display: flex;
  width: 100%;
  
}
.sidebar{
  color: white;
  flex-basis: 10%;
}
.messages-main{
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
}
.active-chat{
  display: flex;
  flex-basis: 90%;
  /* flex-direction: column-reverse; */
  overflow-y: scroll;
  color: white;
}
.messages-header{
  display: flex;
}
.messages-title{
  flex-basis: 80%;
}
.msg{
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.msg-user{
  display: flex;
  flex-direction: column;
  flex-basis: 50px;
  height: 50px;
}

.new-messages{
  position:absolute;
  bottom: 0;
}

.msg-img {
  height: 50px;
  width: 50px;
}

.msg {
  border-radius: 5px;
  border-width: 10px;
  border: blue;
}

.msg-text{
  padding-left:10px ;
  padding-top: 10px;
}

/* message form */

#new-message-form {
  position: relative;
}

#new-message-form .form-control {
  border-width: 3px 1.5px 3px 3px;
}

#new-message-form.btn {
  border-width: 3px;
}
  .resize {
    width: 300px;
    height: auto;
}

